{% extends "layout.html" %}

{% block content %}

  <div class="alert alert-info" role="alert">Browse catalog</div>
  <p>
      The data is stored as tables in the Open Data portal, tables are categorized by a multi-level structured set of themes.
      <br><br>
      Use the navigation at the left of the screen to drill down to the table of interest, use the first element in the navigation or the breadcrumbs on top of the screen to return to a higher level.<br><br>
      Legend:<br>
       <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">&nbsp;</span>drill down<br>
       <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">&nbsp;</span>drill up
  </p>
</div>

{% endblock %}
